html, body, * {
  font-family: monospace;
}

body {
  margin: 0;
}

#container {
  width: 800px;
  margin: 25px auto;
  .inner {
    padding: 50px;
    box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #dadada;
    background-color: #f2f2f2;
  }
}

@media (max-width: 949px) {
  #container {
    width: auto;
    margin: 5px;
    .inner {
      margin: 15px;
      padding: 25px;
    }
  }
}

